


      




<div class="containerr" ng-controller="main"> 


    
  <div class="pos-f-t">
      <div class="collapse" id="navbarToggleExternalContent">
        <div class="bg-primary p-4">
          <h4 class="text-white">Contact Us</h4>
          <span class="text-white"><p>Phno:779929999</p>
            <p>Email:healthup@yahoo.com</p></span>
        </div>
      </div>
      <nav class="navbar navbar-dark bg-primary">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </nav>
    </div>



  
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">

     
    
          <a class="navbar-brand" href="#">
            <img src="/1.png" width="30" height="30" alt="">
          </a>
        
      
      <a class="navbar-brand" href="#">HealthUp</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>


      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Eat Better <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
              <a class="nav-link" href="#">Get Fit <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="#">Manage Weight<span class="sr-only">(current)</span></a>
            </li>
          <!-- <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li> -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              More
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Challenges</a>
              <a class="dropdown-item" href="#">Recipies</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#aboutus">About Us</a>
            </div>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link disabled" href="#">Disabled</a>
          </li> -->
        </ul>
        <!-- <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form> -->
      </div>
    </nav>
  
<div id="ff">
    <div class="jumbotron">
        
      <h1 class="display-4">Hello, welcome to HealthUp</h1>
      <p class="lead">HEALTHUP.com is a trustworthy, authoritative destination for people wanting to live their best lives.</p>
      <hr class="my-4">
      
      <p class="lead">
        <a class="btn btn-primary btn-lg" href="#aboutus" role="button">Learn more</a>
      </p>
    </div>
  </div>



<section id="cards">
<div class="cc" > 
        <div class="card"  style="width: 40rem;">
          <img class="card-img-top" src="/gym1.1.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Exercise</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a  class="btn btn-dark" ng-model="cs" ng-click="submit2()">  Learn more </a>
          </div>
        </div>
        <div class="card" style="width: 40rem;">
          <img class="card-img-top" src="/gym2.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Diet</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a  class="btn btn-dark" ng-model="daiet" ng-click="submit3()">Learn more</a>
          </div>
        </div>
        <div class="card" style="width: 40rem;">
          <img class="card-img-top" src="/gym3.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Yoga</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a  class="btn btn-dark" ng-model="yoaga" ng-click="submit4()">Learn more</a>
          </div>
        </div>
      </div>
    </section>


    <section id="news">
      <h2 class="display-4">Latest News</h2>
      <div class="cc" > 
              <div class="card" style="width: 20rem;">
                <img class="card-img-top" ng-click="latest1()" src="https://images.unsplash.com/photo-1520889905494-a9ba556b0cf2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1113&q=80" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">HEALTH</h5>
                  <p class="card-text">Hands Always Cold? Here's What Your Body's Trying to Tell You</p>
                
                </div>
              </div>
              <div class="card" style="width: 20rem;">
                <img class="card-img-top" ng-click="latest2()" src="https://images.unsplash.com/photo-1593786930094-d5c8164ac771?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">FITNESS</h5>
                  <p class="card-text">The Best Men's 5-Inch Gym Shorts, According to a Trainer</p>
                  
                </div>
              </div>
              <div class="card" style="width: 20rem;">
                <img class="card-img-top" ng-click="latest3()" src="https://images.unsplash.com/photo-1505455184862-554165e5f6ba?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1169&q=80" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">HEALTH</h5>
                  <p class="card-text">Waking Up With Numb Hands? Here's What Your Body's Trying to Tell You</p>
                  
                </div>
              </div>
              <div class="card" style="width: 20rem;">
                <img class="card-img-top" ng-click="latest4()" src="https://images.unsplash.com/photo-1585834830884-392089dfd9f6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">FITNESS</h5>
                  <p class="card-text">This Beginner Kettlebell Flow Strengthens All Over and Builds Cardio in 20 Minutes</p>
            
                </div>
              </div>
              <div class="card" style="width: 20rem;">
                <img class="card-img-top" ng-click="latest5()" src="https://images.unsplash.com/photo-1566241142559-40e1dab266c6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">FITNESS</h5>
                  <p class="card-text">5 Plank Mistakes That Make the Move Ineffective (and Potentially Painful)</p>
                  
                </div>
              </div>
              <div class="card" style="width: 20rem;">
                <img class="card-img-top" ng-click="latest6()" src="https://images.unsplash.com/photo-1555243896-c709bfa0b564?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">NUTRITION</h5>
                  <p class="card-text">12 Breakfast Recipes for Healthier Skin</p>
                  
                </div>
              </div>
            </div>
          </section>

          <section id="aboutus">
            <h1>About Us</h1>
            <p class="lead">At HEALTHUP.com, we strive to help all people make informed decisions about their health.

              We document the habits that make a difference, whether people are interested in fueling their bodies with the most nutritious foods, navigating new workouts, reaching or maintaining a healthy weight or finding other ways to improve their overall health and wellbeing.
              
              We deliver the tools to help people track their progress and keep them accountable. We rely on high-quality research and our network of experts to make HEALTHUP.com the trustworthy, authoritative destination for people wanting to live their best lives.</p>

          </section>
    
          <section>
            <!-- Footer -->
<footer class="page-footer font-small indigo">

  <!-- Footer Links -->
  <div class="container">

    <!-- Grid row-->
    <div class="row text-center d-flex justify-content-center pt-5 mb-3">

      <!-- Grid column -->
      <div class="col-md-2 mb-3">
        <h6 class="text-uppercase font-weight-bold">
          <a href="#aboutus">About us</a>
        </h6>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-2 mb-3">
        <h6 class="text-uppercase font-weight-bold">
          <a href="#!">Fit</a>
        </h6>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-2 mb-3">
        <h6 class="text-uppercase font-weight-bold">
          <a href="#news">latest news</a>
        </h6>
      </div>
      <!-- Grid column -->

     
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-2 mb-3">
        <h6 class="text-uppercase font-weight-bold">
          <a href="#!">Contact</a>
          
        </h6>
        <p>Phno:779929999</p>
          <p>Email:healthup@yahoo.com</p>
      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row-->
    <hr class="rgba-white-light" style="margin: 0 15%;">

    <!-- Grid row-->
    <div class="row d-flex text-center justify-content-center mb-md-0 mb-4">

      <!-- Grid column -->
      <div class="col-md-8 col-12 mt-5">
        <p style="line-height: 1.7rem">Address: 20 20/b hibernate complex, palluruthy veli, Ernakulam, Kerala 682017 .</p>
      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row-->
    <hr class="clearfix d-md-none rgba-white-light" style="margin: 10% 15% 5%;">

    <!-- Grid row-->
    <div class="row pb-3">

      <!-- Grid column -->
      <div class="col-md-12">

        <div class="mb-5 flex-center">

          <!-- Facebook -->
          <a class="fb-ic">
            <i class="fab fa-facebook-f fa-lg white-text mr-4"> </i>
          </a>
          <!-- Twitter -->
          <a class="tw-ic">
            <i class="fab fa-twitter fa-lg white-text mr-4"> </i>
          </a>
          <!-- Google +-->
          <a class="gplus-ic">
            <i class="fab fa-google-plus-g fa-lg white-text mr-4"> </i>
          </a>
          <!--Linkedin -->
          <a class="li-ic">
            <i class="fab fa-linkedin-in fa-lg white-text mr-4"> </i>
          </a>
          <!--Instagram-->
          <a class="ins-ic">
            <i class="fab fa-instagram fa-lg white-text mr-4"> </i>
          </a>
          <!--Pinterest-->
          <a class="pin-ic">
            <i class="fab fa-pinterest fa-lg white-text"> </i>
          </a>

        </div>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row-->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="https://mdbootstrap.com/"> HealthUp.com</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
          </section>




    </div>